<!DOCTYPE html>
<html>
  <head>
    <title>Bethany Brown Front End Web Developer | <%= current_page.data.pageTitle %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <%= stylesheet_link_tag "styles.css" %>
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <script type="text/javascript" src="//use.typekit.net/bco7jou.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="<%= current_page.data.bodyClass %>">


        <%= yield %>


    <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" %>
    <%= javascript_include_tag  "all" %>



    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-43763400-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

  </body>
</html>