 <nav>
  <li><%= link_to "<span class='pink'>bethany brown</span><br /> <span class='hidden-xs'>front end web developer</span>", '/', class: '' %></li>
  <% if current_page.data.bodyClass == 'about' %>
    <li><%= link_to "about", 'about.html', class: 'active' %></li>
  <% else %>
    <li><%= link_to "about", 'about.html' %></li>
  <% end %>
  <li><%= link_to "contact", 'mailto:bethany.brown.email@gmail.com' %></li>
  <li>
<!--     <ul class="socialstuff">
      <li><%= link_to "", 'http://linkedin.com/pub/bethany-brown/7b/173/b', class: 'icon-linkedin-squared' %></li>
      <li><%= link_to "", 'http://github.com/beeeees', class: 'icon-github-circled' %></li>
      <li><%= link_to "", 'http://instagram.com/beeeees', class: 'icon-instagram' %></li>
      <li><%= link_to "", 'http://soundcloud.com/beeeees', class: 'icon-soundcloud' %></li>
    </ul> -->
  </li>
</nav>

<p>take a look at my <a href="http://github.com/beeeees" target="_blank">github</a> profile to see the code for this site, as well as several other plugins and boilerplates:
<ul>
<li><a href="https://github.com/beeeees/header-fade-plugin/blob/master/fullheight.js" target="_blank">jquery full height plugin</a></li>
<li><a href="https://github.com/beeeees/header-fade-plugin" target="_blank">jquery header fade plugin</a></li>
<li><a href="https://github.com/beeeees/middleman-boilerplate" target="_blank">middleman boilerplate</a></li>
<li><a href="https://github.com/beeeees/responsive-email" target="_blank">responsive email template</a></li>
</ul>

<div id="soundcloud">
  <p>recently liked on soundcloud:</p>
</div>